:root {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.link {
    text-decoration: none !important;
    color: #0f0f0f !important

}

.link:hover {
    text-decoration: none !important;
    color: #2c2b2b !important;
    transition: color 0.3s ease !important;
}

ol,
ul {
    list-style-type: none;
}

h1,
h2,
p {
    color: #EEF5DB;
}
.imgArt {
    width: 100%;
    margin-bottom: 12px;
}





.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(202, 198, 198);

    z-index: 1;
}

.main-nav {
    display: flex;
    align-items: center;
}



.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: start;

}
.generalTitle {
    display: block;
    font-size: 2rem;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.titleProfession {
    font-size: 2.5rem;
}

.titleDescription {
    font-size: 1rem;
}

.aboutMe {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 7rem;
}

.aboutMeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sectionTitle {
    font-size: 2.5rem;
}


.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.aboutContent {
    display: grid;
    max-width: 1280px;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 1rem;
    padding-right: 1rem;
}

.centerAbout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsList {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    column-gap: 1rem;
    row-gap: .5rem;
}

.aboutContainer .skillsList {
    margin-top: 2rem;
}

.skill {
    background-color: black;
    padding: .5rem .75rem;
    border-radius: .25rem;
    border: 1px solid #EEF5DB;
    transition: .2s;
    color: #EEF5DB;
}


@media (hover: hover) {
    .skill:hover {
        border-color: gray;
    }
}

.worksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1000px;
}

.titleWork {
    margin-bottom: 5rem;
    text-align: center;
}

.work {
    display: flex;
    flex: 1 ;
    border-radius: 0.375rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 8px 5px 0px rgba(39, 39, 39, 0.44);
    
}

#works {
    padding-top: 7rem;
}

.work:hover>.worksContent {
    opacity: 1;
}

.worksContent {
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.text {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: .05em;
}

.buttonsAndIconsWorks {
    display: flex;
    flex-direction: column;
}


.nes-container {
    max-width: 1000px;
    margin: 6rem auto;
    border: none;

}

.title {
    color: black;
    background-color: transparent;
}

.socialMediaContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
}


#spinner {
    position: fixed;
    inset: 0;
    background-color: linear-gradient(to right, #353535, #2c2c2c, #242323, #1b1b1a, #121211);
    color: #EEF5DB;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

#spinner ion-icon {
    pointer-events: none;
    animation: spin 1s ease-in-out both infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.worksContainer {
    margin-bottom: 50px;
}

#contact {
    padding-top: 200px;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media (max-width: 768px) {
    .aboutContent{
        display: flex;
        flex-direction: column;
    }
    .paragraphAboutMe{
        padding: 2rem;
    }
    h2{
        text-align: center;
    }
    .titleDescription{
        display: none;
    }
    h1{
        text-align: center;
    }
    .generalTitle{
        text-align: center;
        font-size: 1.5rem;
    }
    .aboutContainer{
        height: auto;
    }
    .titleProfession{
        font-size: 1.5rem;
    }
}