@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Archivo+Black&family=Kablammo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

:root {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #F0F3F5;

}
.paragraphMobile{
    display: none;
}

.joystick {
    transform: rotate(45deg);
    position:absolute;
    right: -20px;
    opacity: .1;
    width: 500px;
}
.pc{
    position:absolute;
    left: 0;
    opacity: .1;
    width: 500px;
}
.cube{
    position:absolute;
    right: 0;
    opacity: .1;
    width: 500px;
}
.chat{
    position:absolute;
    opacity: .1;
    width: 500px;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.background span {
    width: 23vmin;
    height: 23vmin;
    border-radius: 23vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 25;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: .4;
    transition: color .5s ease-in-out;
}


.background span:nth-child(1) {
    color: #F42C04;
    top: 55%;
    left: 71%;
    animation-duration: 15s;
    animation-delay: -104s;
    transform-origin: -6vw 0vh;
    box-shadow: 46vmin 0 6.553767063457595vmin currentColor;
}

.background span:nth-child(2) {
    color: #F42C04;
    top: 40%;
    left: 60%;
    animation-duration: 129s;
    animation-delay: -65s;
    transform-origin: 10vw 9vh;
    box-shadow: -46vmin 0 6.629394758445209vmin currentColor;
}

.background span:nth-child(3) {
    color: #F42C04;
    top: 20%;
    left: 24%;
    animation-duration: 216s;
    animation-delay: -196s;
    transform-origin: 17vw -4vh;
    box-shadow: 46vmin 0 5.821412166010351vmin currentColor;
}

.background span:nth-child(4) {
    color: #F42C04;
    top: 76%;
    left: 49%;
    animation-duration: 17s;
    animation-delay: -224s;
    transform-origin: -4vw -20vh;
    box-shadow: -46vmin 0 6.640837264525276vmin currentColor;
}









.container {
    max-width: 1200px;
    margin: 0 auto;
}

.link {
    text-decoration: none !important;
    color: #0f0f0f !important
}

.link:hover {

    color: #F42C04 !important;
    transition: color 0.3s ease !important;
}

ol,
ul {
    list-style-type: none;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: bold;

}

h1,
h2,
p {
    color: #F42C04;

}

.imgArt {
    width: 100%;
    margin-bottom: 12px;
}

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    font-weight: bold;
    color: rgb(244, 44, 4);
    text-align: center;
}


.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: end;

}

.generalTitle {
    font-size: 2rem;
    text-shadow: 0px 0px 30px rgba(244, 44, 4, 0.719);
    text-transform: uppercase;
    animation: parpadeo 3s infinite;
    display: inline-block;
    transform-origin: top;
}

.content {
    min-height: calc(100vh - 75px);
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titleProfession {
    font-size: 5rem;

}

.titleDescription {
    font-size: 1rem;
    text-shadow: 0px 0px 30px rgba(244, 44, 4, 0.719);
    text-transform: uppercase;

}

.sectionTitle {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;

}


.sectionTitle span {
    transition: color .2s ease-in-out;

}

.sectionTitle span:hover {
    color: rgb(255, 191, 0);
}

.tt {
    margin-right: 2rem;
}

.paragraphAboutMe {
    color: #2c2c2c
}

.importantWord {
    color: #F42C04;
}

.aboutContainer {
    padding: 0;
}

.aboutContent {
    display: grid;
    max-width: 1280px;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 1rem;
    padding-right: 1rem;
}

.centerAbout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsList {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    column-gap: 1rem;
    row-gap: .5rem;
}

.aboutContainer .skillsList {
    margin-top: 2rem;

}

.skill {
    background-color: #F42C04;
    padding: .5rem .75rem;
    border-radius: .25rem;
    border: 1px solid #EEF5DB;
    transition: .2s;
    color: #EEF5DB;
}

.skills-titles {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 120px;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.skills-titles div span {
    transition: color .2s ease-in-out;

}

.skills-titles div span:hover {
    color: rgb(255, 191, 0);
}


.centerAbout h2 .underline {
    width: 3px;
    height: 2px;
    background-color: #F42C04;
    box-shadow: 0px 0px 10px #F42C04;
    position: absolute;
    bottom: -5px;
    animation: line 3s linear infinite;
}








.buttonContainer {
    display: flex;
    gap: 2rem;

}

.btnFilter {
    background-color: #F42C04;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    color: #F0F3F5;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    z-index: 9999;
    /* Transición suave */
}

.btnFilter:hover {
    background-color: rgb(255, 191, 0);
    color: #2c2c2c;
    cursor: inherit;
}


@media (hover: hover) {
    .skill:hover {
        border-color: EEF5DB;
    }
}

.worksContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 50px;
}

.titleWork {
    margin-bottom: 5rem;
    text-align: center;
}

.work {
    display: flex;
    flex: 1;
    border-radius: 0.375rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 8px 5px 0px rgba(39, 39, 39, 0.44);

}

#works {
    padding-top: 7rem;
}

.work:hover>.worksContent {
    opacity: 1;
}

.worksContent {
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.btnVisit {
    background-color: #F42C04;
    border-radius: 10px;
    padding: .8rem;
    border: none;
    color: #F0F3F5;
}

.text {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: .05em;
}

.buttonsAndIconsWorks {
    display: flex;
    flex-direction: column;
}


.nes-container {
    max-width: 1000px;
    margin: 6rem auto;
    border: none;

}

.title {
    text-align: center;

}

.socialMediaContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.icono {
    font-size: 3rem;
    color: #F42C04;
}

.contactTitle {
    width: 100%;
}

.seeMore {
    display: none;
}

#spinner {
    position: fixed;
    inset: 0;
    background-color: linear-gradient(to right, #353535, #2c2c2c, #242323, #1b1b1a, #121211);
    color: #F42C04;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

#spinner ion-icon {
    pointer-events: none;
    animation: spin 1s ease-in-out both infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}


@keyframes spin {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes parpadeo {

    0%,
    100% {
        transform: scale(1);
        /* Escala normal del texto */
    }

    50% {
        transform: scale(1.2);
        /* Escala máxima del texto (mientras parpadea) */
    }
}

@keyframes line {
    0% {
        width: 0;
        transform: translateX(0);
    }

    50% {
        width: 40px;
        transform: translateX(50px);
    }

    100% {
        width: 0;
        transform: translateX(120px);
    }
}

@media (max-width: 1300px){
    .joystick{
        right: auto;
    }
}

@media (max-width: 991px){
    .navbar{
        flex-direction: column;
        align-items: baseline;
    }
}
@media(max-width: 600px){
    .joystick{
       width: 300px;
    }
    .pc{
        width: 300px;
    }
    .chat{
        width: 300px;
    }
    .paragraphMobile{
        display: inline;
    }
    #paragraphHide{
        display: none;
    }
}

@media (max-width: 768px) {
    .aboutContent {
        display: flex;
        flex-direction: column;
    }

    h2 {
        text-align: center;
    }

    .titleDescription {
        display: none;
    }

    h1 {
        text-align: center;
    }

    .generalTitle {
        text-align: center;
        font-size: 1.5rem;
    }

    .aboutContainer {
        height: auto;
    }

    .titleProfession {
        font-size: 1.5rem;
    }
}